.content {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.blog-grid1 {
    width: 100%;
    position: relative;
    padding: 2em 6em;
    background: #333;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}

#about .blog-grid1:before, #experience .blog-grid1:before {
    background: rgba(255, 255, 255, 0.4);
}

.blog-grid1:before {
    content: '';
    background-color: #444;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/*--  about --*/
.about-grids h4 {
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
}

.about-grids p {
    color: #000;
    margin: 1.5em 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
}


.w3_agile_head h5 span {
    color: #fff;
}

.skills p {
    color: #fff;
}

.w3layouts_skills_grids {
    margin: 3em 0 0;
}

.w3ls_about_guage {
    text-align: center;
}

.w3ls_about_guage h4 {
    font-size: 1.3em;
    color: #fff;
    margin-top: 30px;
}

.w3_head_pop h3 {
    color: #000000;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.w3_head_pop h3 span {
    color: #04b962;
}

.w3_head_pop.skills_span span {
    color: #fff;
}

h3.skills_w3 {
    color: #0cbb67;
}

/*-- //skills --*/
/*-- /extra skills --*/
h3.agile_tittle.two {
    color: #252525;
}

.bargrids-left {
    margin-right: 40px;
}

.about-grids a {
    padding: 11px 35px;
    color: #fff;
    background: #333;
    border: 2px solid #333;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 35px;
    text-decoration: none;
}

.about-grids a:hover {
    color: #333;
    background: none;
    border: 2px solid #333;
}

.bar-grids h4 {
    font-size: 1.6em;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
    /* border-bottom: 1px dashed #ffffff; */
    padding-bottom: 0em;
    font-weight: 600;
}

.bar-grids h4 span.glyphicon {
    margin-right: 0.8em;
    color: #ecb731;
}

.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: #dadde0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.prgs-w3agile-last {
    margin-bottom: 0 !important;
}

.progress-bar {
    background-color: #191919;
}

.bar-grids h6 {
    font-size: 15px;
    color: #666;
    margin-bottom: 7px;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.bar-grids h6 span {
    float: right;
    font-size: 1em;
}

.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: none !important;
}

h3.heading {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 5px;
    position: relative;
}

#about h3.heading:after, #experience h3.heading:after {
    background: #333;
}

h3.heading:after {
    position: absolute;
    content: '';
    width: 10%;
    height: 1px;
    background: #fff;
    left: 45%;
    bottom: -28%;
}

.about-grids {
    margin-top: 5em;
}

/*-- // about --*/

/*--  services --*/
.services {
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.service-grids {

}

.w3-icon-grid1 h3 {
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.w3-icon-grid1 {
    position: relative;
}

.w3-icon-grid1 h3 i {
    color: #fff;
    position: absolute;
    opacity: .1;
    font-size: 50px;
}

.w3-icon-grid1 p {
    color: #AAA;
    margin: 1.5em 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
}

/*-- // services --*/

/*-- experience --*/
.exp-grids {
    margin-top: 5em;
}

.exp-grids h4, .exp-grid1 h4 {
    text-transform: capitalize;
    color: #aaa;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.exp-grids h5, .exp-grid1 h5 {
    font-size: 14px;
    color: #666;
    font-weight: 600;
}

.exp-grids p {
    line-height: 24px;
    letter-spacing: .5px;
    font-size: 14px;
    color: #000;
    border-left: 3px solid #222;
    padding-left: 3em;
}

.exp {
    text-align: right;
    padding-right: 3em;
    background: #222;
}

.exp-grid1 p {
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 13px;
    color: #666;
    border-right: 3px solid #222;
    padding-right: 3em;
    text-align: right;
}

.exp1 {
    padding-left: 3em;
    background: #222;
}

/*-- //experience --*/

/*--  contact --*/
.contact-grids {
    margin-top: 5em;
}

.contact-grids h4 {
    text-transform: capitalize;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.contact-left h5 {
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact-left p, .contact-left p a {
    margin: 0;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 15px;
    color: #aaaaaa;
}

.contact-left p a:hover {
    color: #000;
}

.icon i {
    font-size: 20px;
    color: #aaaaaa;
}

.contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea {
    outline: none;
    width: 83%;
    padding: .9em 1em;
    font-size: 15px;
    letter-spacing: 1px;
    color: #aaaaaa;
    border: none;
    border: 1px solid #777;
    background: none;
    margin-bottom: 1.5em;
    border-radius: 10px;
}

.contact-right input[type="submit"] {
    padding: 11px 35px;
    color: #fff;
    background: #222;
    border: 2px solid #222;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 35px;
    float: right;
}

.contact-right input[type="submit"]:hover {
    color: #222;
    background: none;
    border: 2px solid #222;
}

label {
    width: 17%;
    float: left;
    color: #aaaaaa;
    font-weight: 600;
}

.contact-right textarea {
    min-height: 120px;
    resize: none;
}

/*-- // contact --*/

/*-- Responsive Design --*/

@media (max-width: 1080px) {
    .banner-layer, .banner {
        min-height: 658px;
    }

    .agile_banner_margin {
        padding: 14em 0em 0em;
    }

    .agile_banner_info h2 {
        font-size: 37px;
        letter-spacing: 2px;
    }

    .about-grids h4 {
        font-size: 18px;
    }

    .blog-grid1 h4 {
        font-size: 19px;
    }

    label {
        width: 19%;
    }

    .contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea {
        width: 81%;
    }
}

@media (max-width: 991px) {
    .navbar-light .navbar-toggler {
        border-color: #fff;
    }

    .navbar-toggler {
        border-radius: 0;
        background: #fff;
    }

    .agile_banner_info h2 {
        font-size: 33px;
        letter-spacing: 1px;
    }

    .agile_banner_margin {
        padding: 12em 0em 0em;
    }

    ul.navbar-nav.ml-lg-auto.text-center {
        padding: 1em;
        background: rgba(0, 0, 0, 0.7);
    }

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        width: 30%;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .dropdown-menu a.nav-link, .navbar-light .navbar-nav .nav-link {
        width: 30%;
        margin: 0 auto;
    }

    .dropdown-menu {
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
    }

    .navbar-light .navbar-nav .dropdown-menu a.nav-link {
        color: #fff;
        padding-left: 0em;
        text-align: center;
    }

    .dropdown-menu li.nav-item {
        margin: 0 auto;
    }

    .dropdown-divider {
        height: 0;
        margin: 0rem 0;
        overflow: hidden;
        border-top: 0;
    }

    .navbar-light .navbar-nav .dropdown-menu a.nav-link:hover {
        color: #fff;
        border: none;
        border-bottom: 2px solid #fff;
    }

    .agile_banner_info p {
        font-size: 14px;
    }

    .agile_banner_info h4 {
        font-size: 20px;
    }

    .image_margin {
        margin-top: 12em;
        padding: 0;
    }

    .banner-layer, .banner {
        min-height: 590px;
    }

    .exp {
        padding-right: 2em;
    }

    .exp1 {
        padding-left: 2em;
    }

    .about-grids, .service-grids, .exp-grids, .blog-grids, .project-grids, .clients, .contact-grids {
        margin-top: 3em;
    }
}

@media (max-width: 768px) {
    .agile_banner_margin {
        padding: 10em 0em 0em;
    }

    .image_margin {
        margin-top: 10em;
    }

    h4.left-grid-blog {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .test-review h5 {
        letter-spacing: 1px;
        font-size: 20px;
    }

    .test-review p {
        font-size: 14px;
        letter-spacing: .5px;
    }

    .contact-grids h4 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .contact-left h5 {
        font-size: 18px;
    }
}

@media (max-width: 736px) {
    .image_margin {
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .exp, .exp1 {
        padding-right: 0;
        padding: 1em;
    }

    .exp-grids h4, .exp-grid1 h4 {
        margin-top: 0px;
    }

    .test-image {
        width: 60%;
        padding: 0 50px;
        float: none;
    }

    .test-review {
        width: 100%;
        float: none;
    }

    h3.heading {
        font-size: 35px;
        letter-spacing: 3px;
    }

}

@media (max-width: 568px) {
    .agile_banner_margin {
        padding: 10em 2em 0em;
    }

    .w3-icon-grid1 p {
        margin: 1.5em 0 1em;
    }

    .dropdown-menu li.nav-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        width: 40%;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .dropdown-menu a.nav-link, .navbar-light .navbar-nav .nav-link {
        width: 40%;
        margin: 0 auto;
    }

    .agile_banner_info h5 {
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .agile_banner_info h2 {
        font-size: 28px;
        letter-spacing: 0px;
    }

    .agile_banner_info h4 {
        font-size: 17px;
    }

    h3.heading {
        font-size: 35px;
    }

    label {
        width: 100%;
        float: none;
    }

    .contact-right input[type="text"], .contact-right input[type="email"], .contact-right textarea {
        width: 100%;
    }

    header h1 {
        font-size: 2.2rem;
    }

    .agile_banner_margin {
        padding: 8em 2em 0em;
    }
}

@media (max-width: 384px) {
    .agile_banner_info h2 {
        font-size: 27px;
    }

    .test-review p {
        padding-left: 25px;
    }

    .agile_banner_margin {
        padding: 8em 1em 0em;
    }

    .w3-icon-grid1 h3 {
        letter-spacing: 0px;
    }

    .w3-icon-grid1 h3 i {
        font-size: 40px;
    }

    .social ul li a i {
        height: 37px;
        width: 37px;
        font-size: 11px;
        line-height: 37px;
    }

    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        width: 45%;
        margin: 0 auto;
    }

    .navbar-light .navbar-nav .dropdown-menu a.nav-link, .navbar-light .navbar-nav .nav-link {
        width: 45%;
        margin: 0 auto;
    }

    .about-grids a {
        padding: 11px 30px;
        font-size: 14px;
    }

    .image_margin {
        width: 70%;
    }

    .agile_banner_info h5 {
        font-size: 18px;
    }
}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 1080px) {

}